:root{
    --lightblue:rgb(0, 131, 238);
    --darkBlue: blue;
    --red:rgb(143, 0, 0);
    --white:white;
    --grey:grey;
    --lightGrey1:rgb(175, 175, 175);
    --lightGrey2:rgb(211, 211, 211);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

body{
    background-color: var(--lightGrey2);
}

.header{
    width: 100vw;
    height: 4rem;
    background-color:var(--white);
    display: flex;
    align-items: center; 
    justify-content: space-between;
    box-shadow: 0 .01rem 1rem var(--lightGrey1);
} 
.header h2{
    color: var(--lightblue);
    margin-left: 2.5rem;
}
.header h3{
    margin-right: 2.5rem;
}

.main{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 70vw;
    height: 70vh;  
    border: solid var(--lightGrey1) .1rem;
    border-radius: 2rem;
}

.container_content{
    padding: 2rem;
}   

li{
    display: flex;
    justify-content: space-between;
}

.first{
    display: flex;
    gap: 1rem;
}

.textValue{
    padding: .8rem;
    border-radius: 1rem;
    border: solid var(--grey) .03rem;
    width:calc(100% - 10px);
    outline: none;
}

.addTask{
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem ;
}

.addBtn{
    padding: .8rem;
    border-radius: 1rem;
    border: solid var(--grey) .03rem;
    background-color: var(--lightblue);
    color:var(--white);
}

.addBtn:active{
    background-color: var(--darkBlue);
    color:var(--white);
}
.fa-solid:active{
    color: var(--red);
}

.check_list{
    text-decoration: line-through;
}

@media screen and (max-width:375px) {
    .textValue{
        padding: .5rem; 
        border-radius: .8rem;
        border: solid var(--grey) .03rem;
        width:calc(100% - 10px);
        font-size: .65rem ;
        outline: none;
    }   
    .addTask{
        flex-direction: column;
        gap: .5rem;
    }
    .addBtn{
        padding: .3rem;
        border-radius: .8rem;
        border: solid var(--grey) .03rem;
        background-color: var(--lightblue);
        color: var(--white);
        width:calc(100% - 10px);

    }
    .text{
        font-size: .8rem;
    }
}